body {
  background-color: fff;
}

.image-container {
  width: 330px;
}

.content-container {
    position: absolute;
}

.header {
  text-align: center;
}

.header img {
  height: 50px;
}

.image-container img {
  border: 5px solid black;
  transition: padding-left .40s ease;
}

.image-container.loveHotel img {
  border: 5px solid green;
  transition: padding-left .40s ease;
}

.image-container.noLoveHotel img {
  border: 5px solid red;
  transition: padding-left .40s ease;
}

.iphone {
  height: 900px;
  background: #fff url('/images/iphone/iphone6.png') no-repeat center center;
  position: relative;
}
