body {
  background-color: fff;
}

.image-container {
  width: 300px;
}

.content-container {
    position: absolute;
}

.header {
  text-align: center;
}

.header img {
  height: 50px;
}

.image-container img {
  border: 5px double grey;
  transition: padding-left .40s ease;
}

.iphone {
  height: 900px;
  background: #fff url('/images/iphone/iphone6.png') no-repeat center center;
  position: relative;
}
