body {
  background-color: fff;
  cursor: url('/images/fingers/holly.png'), auto;
}

.image-container {
  width: 300px;
}

.content-container {
    position: absolute;
    margin-left: calc(50% - 150px);
    margin-top: 110px;
}

.header {
  text-align: center;
}

.header img {
  height: 50px;
}


.image-container img {
  max-width: 100%;
  padding: calc(100% - 500px);
}

.iphone {
  height: 900px;
  background: #fff url('/images/iphone/iphone6.png') no-repeat center center;
  position: relative;
}
